@page
@model TweetCool.Pages.SuccesModel
@{
}

<div class="text-center">
    <h1 class="display-4">Posted!</h1>
    <form action="\Index">
        <button type="submit">Back to Main</button>
    </form>
    <form action="\Tweets">
        <button type="submit">Watch da tweets!</button>

    </form>
</div>